.skillGroup {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.skillIcon, .skillCss, .skillPostman, .enIcon, .jpnIcon {
    color: var(--color-primary-400);
    margin: auto;
}

.skillIcon {
    font-size: 4rem;
}

.skillCss {
    font-size: 3.7rem;
}

.skillPostman {
    font-size: 3.2rem;
}
.enIcon {
    font-size: 3rem;
    font-weight: 600;
}

.jpnIcon {
    font-size: 2.8rem;
    font-weight: 600;
}