.devFrame {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}


.detailImgFrame {
    width: 80rem;

    align-self: center;
}

.detailImgFrame img {
    width: 100%;
    max-width: 100%;
}

.subTitle {
    font-weight: 600;
}

@media only screen and (max-width: 62.5em) {
    .devFrame {
        margin-bottom: 0;
        margin-top: 0;
    }
}


@media only screen and (max-width: 46.25em){
    .detailImgFrame {
        width: 100%;
    }
}