.devFrame {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
    margin-top: 2rem;
}

.detailDevItem {
    list-style: none;
    margin-bottom: 2rem;
}

.detailImgFrame {
    width: 80rem;
    margin-top: 2rem;
    position: relative;

    align-self: center;
    margin-bottom: 5rem;
}

.detailImgFrame img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}


@media only screen and (max-width: 46.25em){
    .detailImgFrame {
        width: 100%;
    }
}