.header {
  width: 100vw;
  height: 7rem;
  background-color: rgb(250, 233, 233);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1000;
  transition: all 0.3s;
}

.headerContents {
  width: 100vw;
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav {
  list-style: none;
  margin-right: 4rem;
  display: flex;
  gap: 3rem;
}

.logoFrame {
  width: 6rem;
}

.logoFrame img {
  width: 100%;
}

.navItem:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-grey-dark-1);
  font-family: var(--font-primary);
  font-weight: 300;
  text-transform: uppercase;
  padding: 1.5rem;
  display: block;
  border-radius: 19px;
  transition: all .2s;
}

.navItem:hover,
.navItem:active {
  background-color: var(--color-grey-light-1);
}
