@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i,400,500);

:root {
  /* --max-width: 1100px;
  --border-radius: 12px;
 */

  --max-width: 1650px;

  --background-start: #FFAA9E;
  --background-end: #4886BF;

  --gradient-light: #FFAA9E;
  --gradient-dark: #704BDB;
  
  /* 'linear-gradient(135deg, #FFAA9E, #704BDB) */

  --color-primary-400: #ffa69b;
  --color-primary-500: #ff9082;
  --color-primary-600: #F87A7A;

  --color-secondary-400: #386A9D;
  --color-secondary-500: #2b5287;
  --color-secondary-600: #16293c;

  --color-grey-100: #fdf9f9;
  --color-grey-200: #aaa;
  --color-grey-400: #747474;
  --color-grey-400: #7c6765;
  --color-grey-400: #493f3e;

  --card-background: rgba(255, 255, 255, 0.5);

  --font-primary: 'Nunito', sans-serif;
  --font-heading: 'Josefin Sans', sans-serif;

  --font-weight-heading: 400;

  --mb-large: 4rem;
  --mb-middle: 3rem;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(135deg, var(--background-start), var(--background-end));  
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 4.5rem;
  text-transform: uppercase;
  
}

h2 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 4rem;
}

h3 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 1.9rem;
}

h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

.not-found,
.error {
  padding: 10rem 2rem 0 2rem;
  text-align: center;
  height: 80vh;
}

.not-found h1,
.error h1 {
  font-size: 4rem;
  margin: 0px;
  font-weight: 900;
  color: var(--color-secondary-400);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 2rem 0;
}




