@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i,400,500);

:root {
  /* --max-width: 1440px;
  --border-radius: 12px;
 */

  --max-width: 1440px;

  --background-start: #FFAA9E;
  --background-end: #4886BF;

  --background-s: #2773a5;

  --gradient-light: #b9cdd7;
  --gradient-dark: #2773a5;
  
  /* 'linear-gradient(135deg, #FFAA9E, #704BDB) */

  --color-primary-400: #dbecf2;
  --color-primary-500: #bbd4db;
  --color-primary-600: #2773a5;

  --color-secondary-400: #ffa69b;
  --color-secondary-500: #ff9082;
  /* --color-secondary-dark-1: #F87A7A; */
  --color-secondary-dark-1: #fa5f5f;

  --color-grey-light-1: #fdf9f9;
  --color-grey-light-2: #aaa;

  --color-grey-mid-1: #747474;
  
  --color-grey-dark-1: #322c2b;
  --color-grey-dark-2: #7c6765;

  --card-background: rgba(255, 255, 255, 0.5);

  --font-primary: 'Nunito', sans-serif;
  --font-heading: 'Josefin Sans', sans-serif;

  --font-weight-heading: 400;

  --mb-largest: 8rem;
  --mb-large: 6rem;
  --mb-middle: 5rem;
  --mb-small: 3rem;

  
  /* RESPONSIVE BREAKPOINTS */

  /* 1200px largest */
  --bp-largest: 75em; 

  /* 1000px large*/
  --bp-large: 62.5em; 

  /* 889.6px middle*/
  --bp-mediumLarge: 55.6em;  

  /* 810px semi */
  --bp-mediumSmall: 50.6em;  

  /* 740px */
  --bp-semi-small: 46.25em;

  /* --520px small */
  --bp-small: 32.5em;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--color-grey-dark-1);
}

h2 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 4rem;
  color: var(--color-grey-dark-1);
}

h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 3rem;
  color: var(--color-grey-dark-1);
}

h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 2rem;
  color: var(--color-grey-dark-1);
}

p, li {
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1);
}

li {
  list-style-position: inside;
}

.not-found,
.error {
  padding: 10rem 2rem 0 2rem;
  text-align: center;
  height: 80vh;
}

.not-found h1,
.error h1 {
  font-size: 4rem;
  margin: 0px;
  font-weight: 900;
  color: var(--color-secondary-400);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 2rem 0;
}




