.main {
  margin: auto;
  display: grid;
  grid-row-gap: 15rem;
}

.topSection {
  width: 100vw;
  height: 90vh;
  position: relative;

  margin-top: 7rem;
  background-image: linear-gradient(45deg, var(--gradient-dark), var(--gradient-light));  

  transition: all .2s ease;
}

.projectSection, .aboutSection {
  width: 100vw;

  /* Adjust according to the height of your header */
  scroll-margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectSection h1 {
  margin-bottom: var(--mb-largest);

  transition: all .2s ease;
}

.card {
  width: 80%;
  height: 50%;
  background-color: var(--color-primary-400);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 10rem;

  transition: transform all .3s ease;
}

.aboutSection {
  width: 100%;
  background-image: 
    linear-gradient(to bottom, rgba(219, 236, 242,.9), rgba(78, 148, 186,.98)),
    url('/images/background200.png');  

}


@media only screen and (max-width: 62.5em) {
  .main {
    grid-row-gap: 10rem;
  }
  .textGroup {
    width: 600px;
  }

  .section h1 {
    margin-bottom: var(--mb-large);
  }
}

@media only screen and (max-width: 55.6em) {
  .topSection {
    height: 84vh;
    
    padding-top: 1rem;
    background-color: var(--card-background);
  }

  .textGroup {
    width: 450px;
  }

  .card {
    width: 90%;
  }

  .section h1 {
    margin-bottom: var(--mb-middle);
  }
}

@media only screen and (max-width: 32.5em) {
  .topSection {
    height: 95vh;
  }

  .textGroup {
    width: 80vw;
    left: 4rem;
    transform: translate(0, -50%);
  }

  .section h1 {
    margin-bottom: var(--mb-small);
  }

  .card {
    width: 90vw;
  }
  
  .card:not(:last-child) {
    margin-bottom: 3rem;
  }
  
  .evenCard {
    align-self: center;
    border-radius: 20px;
  }
  
  
  .oddCard {
    align-self: center;
    border-radius: 20px;
  }

}




