.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

.topSection {
  width: 100%;
  height: 85vh;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameGroup {
  max-width: 700px;
  padding-top: 3rem;
}

.nameGroup p {
  padding-top: 1rem;
}

.introButtonFrame {
  padding-top: 2rem;
}

.section {
  margin-top: 13rem;
  scroll-margin-top: 10rem; /* Adjust according to the height of your header */
}

.section h1 {
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.cardComponent {
  display: flex;
  flex-direction: column;
}

.card {
  width: 80%;
  margin-bottom: 5rem;
  background-color: var(--card-background);
  transition: transform all 0.3s ease;
}

.evenCard {
  align-self: flex-end;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


.oddCard {
  align-self: flex-start;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}




/* Enable hover only on non-touch devices
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) { 
  .topSection {
    width: 100%;
    height: 90vh;
  }
  
  .nameGroup {
    max-width: 85%;
  }
  
  .section {
    margin-top: 6rem;
    scroll-margin-top: 5rem; /* Adjust according to the height of your header */
  }
  
  .section h1 {
    margin-bottom: 3rem;
  }
  
  .card {
    width: 95%;
    margin-bottom: 3rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .topSection {
    width: 100%;
    height: 90vh;
  }
  
  .nameGroup {
    max-width: 85%;
  }
  
  .section {
    margin-top: 8rem;
    scroll-margin-top: 5rem; /* Adjust according to the height of your header */
  }
  
  .section h1 {
    margin-bottom: 4rem;
  }
  
  .card {
    width: 95%;
  }
}

@media (min-width: 1120px) and (max-width: 1330px) {
  .card {
    width: 90%;
  }
}

