.outerBox {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.leftComponent {
  display: grid;
  grid-template-rows: max-content, 1fr;
  transform: translateY(1.1rem);
}

.buttonComponent {
  grid-row: 2 / 3;
  justify-self: center;
}

.onGoingImg {
  width: 35rem;
  height: 25rem;
  background-color: antiquewhite;
  transform: translateY(3rem);

}

.slideshow {
  width: 35rem;
  height: 25rem;
  background-color: antiquewhite;
}

.rightComponent {
  max-width: 55rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .titleGroup {
  display: grid;
  margin-bottom: 2rem;
} */

.onGoing {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 2rem;
  font-style: italic;

  color: var(--color-grey-light-1);
  background-color: var(--color-primary-400);
  border-radius: 20px;

  position: absolute;
  align-self: flex-end;


  padding: .2rem 1rem;
  font-weight: 600;

}

.onGoingTitle {
  margin-top: 3rem;
}

.rightComponent p,
.rightComponent ul {
  margin-bottom: 2rem;
}

.techGroup {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.techGroup li {
  margin-right: 10px;
  margin-bottom: 7px;
}

.link {
  position: relative;
  z-index: 99;
  align-self: flex-end;
  margin-right: 2rem;
}



/* Mobile */
@media (max-width: 700px) {
  .outerBox {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .buttonComponent {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
  }

  .slideshow {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .rightComponent {
    margin-left: 0;
  }

  .titleGroup {
    margin-bottom: 1.2rem;
  }

  .rightComponent h3 {
    font-size: 1.6rem;
  }

  .onGoing {
    font-size: 1.3rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .outerBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .buttonComponent {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }

  .slideshow {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .rightComponent {
    margin-left: 0;
  }

  .rightComponent h3 {
    font-size: 3rem;
  }

  .onGoing {
    font-size: 1.5rem;
  }
}
