.outerBox {
  min-height: 750px;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.leftComponent {
  display: grid;
  max-width: 42rem;
}

.buttonComponent {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slideshow {
  width: 25rem;
  height: 17rem;
  background-color: antiquewhite;
}

.rightComponent {
  max-width: 42rem;
  margin-left: 5rem;
}

.titleGroup {
  display: grid;
  margin-bottom: 2rem;
}

.onGoing {
  font-size: 2rem;
  font-style: italic;
  color: red;
  padding-left: 3rem;
  font-weight: 600;
  text-align: end;
}

.onGoingButton {
  margin-top: 2rem;
}

.rightComponent p,
.rightComponent ul {
  margin-bottom: 1.5rem;
}

.techGroup {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.techGroup li {
  margin-right: 10px;
  margin-bottom: 7px;
}


/* Mobile */
@media (max-width: 700px) {
  .outerBox {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .buttonComponent {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
  }

  .slideshow {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .rightComponent {
    margin-left: 0;
  }

  .titleGroup {
    margin-bottom: 1.2rem;
  }

  .rightComponent h3 {
    font-size: 1.6rem;
  }

  .onGoing {
    font-size: 1.3rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .outerBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .buttonComponent {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }

  .slideshow {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .rightComponent {
    margin-left: 0;
  }

  .rightComponent h3 {
    font-size: 3rem;
  }

  .onGoing {
    font-size: 1.5rem;
  }
}
