.contactBox {
    width: 95vw;
    max-width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contactBox h1{
    margin: auto;
    margin-bottom: 2rem;
}

.comment {
    width: 70%;
    max-width: 1150px;
    margin: auto;
}

.plateGroup {
    display: flex;
    margin: 9rem auto;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 100;
}

@media only screen and (max-width: 32.5em) {
    .contactBox {
        width: 90vw;
    }

    .comment {
        width: 100%;
        padding: 0 4rem;
    }
}

