.contactBox {
    width: 95vw;
    max-width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contactBox h1{
    margin: auto;
    margin-bottom: 2rem;
}

.comment {
    width: 70%;
    max-width: 1150px;
    margin: auto;
}

.plateGroup {
    display: flex;
    margin: 9rem auto;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 100;
}

.obi {
    position: absolute;
    z-index: 1;
    width: 125rem;
    height: 22rem;
    background-image: 
    linear-gradient(to right, rgba(78, 148, 186,.2), rgba(78, 148, 186,.4)),
    url('/images/background200.png');  
    background-size: 60% 60%; 
}

