.aboutComponent {
    background-color: var(--card-background);
    max-width: 1256px;
    border-radius: 50px;
    margin: auto  ;
    padding: 5rem;
}

.introComponent {
    margin-bottom: 3rem;
    display: flex;
    width: 100%;
}

.myImg {
    width: 17rem;
}


.myImg img {
    width: 100%;
}

.introDescription {
    padding-left: 3rem;
    width: 70%;
}

.hobbies {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hobbies span{
    font-weight: 600;
}

.socialButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
}

.skillsComponent {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    margin-bottom: 0;
}

.subComponent {
    margin-bottom: 5rem;
}

.subComponent h3 {
    margin-bottom: 1.5rem;
}

.eduGroup {
    margin-bottom: 1.5rem;
}

.eduLabel {
    font-weight: 600;
}

.eduGroup ul {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}


.school {
    font-style: italic;
}

.mailLink{
    background: linear-gradient(135deg, var(--color-primary-600), #704BDB); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.courseLink {
    color: black;
}

/* mobile */
@media (max-width: 700px) {
    .aboutComponent {
        width: 90%;
        border-radius: 20px;
        padding: 3rem 1.5rem;
    }

    .introComponent {
        margin-bottom: 3rem;
        display: grid ;
    }
    
    .myImg {
        width: 17rem;
    }
    
    
    .myImg img {
        width: 100%;
    }
    
    .introDescription {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
    }
    
    .hobbies {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .socialButtons {
        display: grid;
        padding: 1rem 0;
    }
    
    .skillsComponent {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
    
    .subComponent {
        margin-bottom: 3rem;
    }
    
    .eduGroup ul {
        margin-left: 1rem;
        font-size: 1rem;
    }
    
    
    .school {
        margin-top: 0.3rem;
    }
}
  
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .aboutComponent {
        width: 95%;
        border-radius: 20px;
        padding: 3rem 2rem;
    }

    .introComponent {
        margin-bottom: 3rem;
        display: grid ;
    }
    
    .myImg {
        width: 17rem;
    }
    
    
    .myImg img {
        width: 100%;
    }
    
    .introDescription {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
    }
    
    .hobbies {
        margin-top: 1.3rem;
        margin-bottom: 1.5rem;
    }
    
    .socialButtons {
        display: flex;
        padding: 1rem 0;
    }
    
    .skillsComponent {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
    }
    
    .subComponent {
        margin-bottom: 3rem;
    }
    
    .eduGroup ul {
        margin-left: 1.3rem;
        font-size: 1.3rem;
    }
    
    
    .school {
        margin-top: 0.3rem;
    }
}
