.accordionFrame {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeaderTitle {
    font-size: 1.5rem;
}

.detailFrame {
    padding: 1rem 3rem 1rem 1.5rem;
    font-size: 1.5rem;
}
.headerRight {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.headerRight:hover {
    cursor: pointer;
}

.detailAccordionItem {
    padding-top: 1.5rem;
}
