.footprintContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
  }
  
  .footprint {
    position: absolute;
    width: 50px; /* Adjust the size of the footprints */
    height: auto;
    opacity: 0.7;
    transition: top 0.5s ease-in-out;
  }
