.button {
    width: 20rem;
    height: 4.1rem;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-primary);
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    z-index: 10;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
    content: "";  /* you need this */
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

/* mobile */
@media (max-width: 700px) {
    .button {
        height: 3.1rem;
        border-radius: 15px;
    }
}