.button {
    width: 150px;
    height: 67px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transition: transform 0.3s;
    font-size: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.button:hover,
.button:active {
    transform: scale(1.1); /* Slight increase in size */
    cursor: pointer;  
}

.button:focus {
    outline: none;
}