.tag {
    height: 3.5rem;
    padding: 0 1rem;
    border: none;
    border-radius: 17px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    transition: transform 0.3s; 
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    box-sizing: border-box; 
    font-family: var(--font-primary);
}

