.cardImgFrame {
    height: auto;
    position: relative;
    overflow: hidden;
  
    display: inline-block;
  
    border: 1rem solid var(--color-primary-500);
}

.cardImgFrame img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
