.videoFrame {
    width: 35rem;
    height: auto;
    position: relative;
    overflow: hidden;
  
    display: inline-block;
  
    border: 10px solid var(--color-primary-500);
  
    margin-bottom: 10rem;
    margin-top: 1.4rem;
  }

.demoVideo {
    width: 154.5%;
    height: auto;
  }