.videoFrame {
    height: auto;
    position: relative;
    overflow: hidden;
  
    display: inline-block;
  
    border: 1rem solid var(--color-primary-500);
  
  }

.demoVideo {
    width: 154.5%;
    height: auto;
  }
