/*
 * cropped video
 */
.demoVideo {
    width: 154.5%;
    height: auto;
}

/*
 * link variant of cardImgFrame 
 */
a.videoLinkFrame {
    cursor: pointer;
}

/*
 * videoFrame in a modal
 */
.enlargedVideoFrame {
    display: block;
    overflow: hidden;
    aspect-ratio: 1.1506;

    width: min(
        1060px,
        96vw - 20px,
        (96vh - 20px) * 1.1506
    );
}

/*
 * videoFrame and video in a modal
 */
.enlargedVideoFrame .enlargedVideo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

@media (prefers-reduced-motion: reduce) {
    .videoFrame {
        transition: none;
    }
}
