.skillGroup {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 1.7rem;
    gap: .7rem;
}

.skillGroup2 {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 1.7rem;
    gap: .5rem;
}

.skillIcon, .skillCss, .skillPostman {
    margin: auto;
    color: transparent;
}

.skillIcon {
    font-size: 6rem;
}

.skillCss {
    font-size: 6.2rem;
}

.skillPostman {
    font-size: 4.2rem;
}




