.detailOuter {
    width: 100%;
    max-width: var(--max-width);
    min-height: 80vh;
    padding: 10rem 2.5rem 0 2.5rem;
    margin: 0 auto;
}

.detailFrame {
    width: 100%;
    background-color: var(--card-background);
    border-radius: 50px;
    padding: 5rem 4rem;
}

.projectTitle,
.projectSummary,
.detailSection {
    padding-bottom: 3rem;
}

.buttonComponent {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

.imgFrame {
    width: 100%;
    height: 40rem;
    background-color: white;
    margin: auto;
    margin-bottom: 6rem;
}

.detailSubTitle {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.boldP,
.backendAccordionLabel,
.techLabel {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}

.techGroup {
    display: flex;
    gap: 0.5rem;
}

.techTagGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.accordionFrame {
    width: 85rem;
    border-radius: 20px;
    overflow: hidden;
    /* Ensure that the radius is visible */
}

.backendAccordionLabel {
    margin-top: 2rem;
}

.backendDeployment {
    padding-top: 2rem;
}

.deployLabel {
    font-weight: 600;
    padding-bottom: 1rem;
}

.codeFrame {
    display: flex;
    gap: 3rem;
}

.codeGroup {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.buttonGroup {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.backButton {
    margin-top: 6.5rem;
}

/* .backButton {
    margin-top: 3rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary-600);
    text-shadow: rgba(0, 0, 0, 0.2) 2px 3px;
    transition: transform 0.3s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.backButton:hover {
    transform: scale(1.1);
} */

/* TODO: fix imgFrame size */

/* Mobile */
@media (max-width: 700px) {
    .detailOuter {
        padding: 6rem 1rem 0 1rem;
    }

    .detailFrame {
        border-radius: 20px;
        padding: 2rem;
    }

    .projectTitle,
    .projectSummary {
        padding-bottom: 1.5rem;
    }

    .detailSection {
        padding-bottom: 2rem;
    }

    .buttonComponent {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    .imgFrame {
        width: 100%;
        height: 16rem;
        margin-bottom: 3rem;
    }

    .detailSubTitle {
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }

    .boldP,
    .backendAccordionLabel {
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    .techGroup {
        display: grid;
        padding-bottom: 1rem;
    }

    .techTagGroup {
        display: flex;
        flex-wrap: wrap;
    }

    .techLabel {
        font-size: 1rem;
        padding-bottom: 0.2rem;
    }

    .accordionFrame {
        width: 100%;
    }

    .codeFrame {
        display: grid;
        gap: 0.5rem
    }
    
    .codeGroup {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .backButton {
        margin-top: 2rem;
        padding: 1rem 3rem;
        font-size: 1.2rem;
        text-shadow: rgba(0, 0, 0, 0.2) 1px 2px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .detailOuter {
        padding: 8rem 1.5rem 0 1.5rem;
    }

    .detailFrame {
        border-radius: 30px;
        padding: 2.5rem;
    }

    .projectTitle,
    .projectSummary {
        padding-bottom: 2rem;
    }

    .buttonComponent {
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    .imgFrame {
        width: 100%;
        height: 16rem;
        margin-bottom: 3rem;
    }

    .detailSubTitle {
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .boldP,
    .backendAccordionLabel {
        font-size: 1.3rem;
        padding-bottom: 1.3rem;
        padding-right: 1.3rem;
    }

    .techGroup {
        display: grid;
        padding-bottom: 1rem;
    }

    .techTagGroup {
        display: flex;
        flex-wrap: wrap;
    }

    .techLabel {
        font-size: 1.3rem;
        padding-bottom: 0.2rem;
    }

    .accordionFrame {
        width: 100%;
    }

    .codeFrame {
        display: flex;
        gap: 2.5rem;
    }
    
    .codeGroup {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .backButton {
        margin-top: 2rem;
        padding: 1rem 3rem;
        font-size: 1.2rem;
        text-shadow: rgba(0, 0, 0, 0.2) 1px 2px;
    }
}